<link rel='stylesheet' href='/stylesheets/account.css' />

<div id="card">
	<div id="blur">
		<div id="color"></div>
	</div>
	<div id="profile">
		<img id="picture" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225748/profile.jpg" alt="User" />
		<h1>{{firstname}} {{lastname}}</h1>
        <h2>{{dateofbirth}}</h2>
        <h2>Username: {{username}}</h2>
        <h2>Tags:</h2>
        {{#each tags}}
            <p>{{this}}</p>
        {{/each}}
		<div class="info">
			
		
		</div>
	</div>
</div>


