<link rel='stylesheet' href='/stylesheets/bubble.css' />

<<<<<<< HEAD
<style>
    #messages {
        height: 300px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <h1 class="text-center">
                {{bubbleName}}
                <button id="clear" class="btn btn-danger">Clear</button>
            </h1>
            <div id="status"></div>
            <div id="chat">
                <input type="text" id="username" class="form-control" placeholder="Enter name...">
                <br>
                <div class="card">
                    <div id="messages" class="card-block">

                    </div>
=======
    <style>
        #messages{height:300px;}
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">
                    BubbleChat 
                    <button id="clear" class="btn btn-danger">Clear</button>
                </h1>
                <div id="status"></div>
                <div id="chat">
                    <input type="text" id="username" class="form-control" placeholder="Enter name...">
                    <br>
                    <div class="card">
                        <div id="messages"  class="card-block" style="overflow-y: scroll">

                        </div>
                    </div>
                    <br>
                    <textarea rows="10" cols="10" id="textarea" class="form-control" placeholder="Enter message..."></textarea>
>>>>>>> 6b387e6f309b0fd0281ff004bcff3522d4c08d9f
                </div>
                <br>
                <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

<script>
    (function () {
        var element = function (id) {
            return document.getElementById(id);
        }

        // Get Elements
        var status = element('status');
        var messages = element('messages');
        var textarea = element('textarea');
        var username = element('username');
        var clearBtn = element('clear');

        // Set default status
        var statusDefault = status.textContent;

        var setStatus = function (s) {
            // Set status
            status.textContent = s;

            if (s !== statusDefault) {
                var delay = setTimeout(function () {
                    setStatus(statusDefault);
                }, 4000);
            }
        }

        // Connect to socket.io
        var socket = io();

        // Check for connection
        if (socket !== undefined) {

            socket.on('connect', function () {
                socket.emit('sendhandle', '{{handle}}');
                socket.emit('attachtobubble', '{{bubbleName}}');
                console.log('Connected to socket...');
            }); 

            // Handle Output
            socket.on('updatechat', function (data) {
                if (data) {
                    console.log('Received chat data! Data: ' + data);
                    var messageBody = document.querySelector('#messages');
                    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
                    // Build out message div
                    var message = document.createElement('div');
                    message.setAttribute('class', 'chat-message');
                    message.textContent = data.handle + ": " + data.message;
                    messages.insertBefore(message, messages.firstChild);
                    messages.appendChild(message);
                }
            });

            // Handle Input
            textarea.addEventListener('keydown', function (event) {
                if (event.which === 13 && event.shiftKey == false) {
                    // Emit to server input
                    console.log('Sent chat data! Data: {{bubbleName}} & {{handle}} & ' + textarea.value);
                    socket.emit('sendmessage', {
                        room: '{{bubbleName}}',
                        handle: '{{handle}}',
                        message: textarea.value
                    });
                    event.preventDefault();
                }
            })

        }

    })();
</script>
